.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: sticky;
  top: 100px;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
