* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #050515;
}

body {
  min-height: 100vh;
  background: #050515;
  overscroll-behavior: none;
}
