.sidebar {
  width: var(--width-sidebar);
  flex-shrink: 0;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  position: sticky;
  top: calc(var(--height-header) + var(--space-6));
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 1400px) {
  .sidebar {
    width: var(--width-sidebar-large);
  }
}
